{% extends 'base.html.twig' %}

{% block title %}CCM - Dashboard{% endblock %}

{% block main %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">No existe información</h1>
            <p class="lead">El sistema no tiene información registrada sobre tu consulta.</p>
        </div>
    </div>
{% endblock %}

